{% extends "base.html" %}

{% load static %}

{% block content %}       
  <div class="main-container-del">
    <h1 class="font-2">DELETE ALBUM</h1>
    <h2 class="font-3">Are you sure you want to delete the album <strong>{{ object.album }}</strong> by <strong>{{ object.band_name }}</strong>?</h2>
    <form class="form-del" method="post">
    {% csrf_token %}
      <div class="grid-btn">
        <ul class="grid-flex">
          <li><button type="submit" class="btn">DELETE</button></li>
          <li><a href="{% url 'home' %}" class="btn">BACK TO HOME</a></li>
        </ul>
      </div>
    </form>
  </div>
{% endblock %}
