{% extends "base.html" %}

{% load static %}

{% block content %}
  	<div class="main-container">
      <div class="grid-title">
        <h1 class="cor-0 main-title">There are {{ bands|length }} bands, spanning {{ albums|length }} albums.</h1>
        <form class="form-search" method="GET" action="{% url 'home' %}">
          <input class="search" type="text" id="search" name="search" placeholder="Search by album" value="{{ request.GET.search }}">
          <button class="btn-search" type="submit"></button>
        </form>
      </div>
      <div class="albums-grid">
        {% for album in bd %}
        <div class="album">
        	<a href="{% url 'album_info' album.pk %}">
          <div>
            {% if album.cover %}
              <img src="{{ album.cover.url }}" alt="{{ album.band_name }}" width="320px" height="320px">
            {% else %}
              <img src="{% static 'img/not_found.jpg' %}" width="320px" height="320px">
            {% endif %}
          </div>
          <div>
            <h2 class="album-title">{{ album.album }}</h2>
            <h2 class="band-name">{{ album.band_name }}</h2>
          </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}